#root {
  max-width: 1280px;
}

.header{
  font-size: 2rem;
  display: flex;
  text-transform: uppercase;
  background-color: #488189;
  height: 4rem;
  width: 100vw;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
  color: white;
}
